<section id="footer">
    <div class="container text-center">
        <div class="footerInfo">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2020 Slice of Pie, All Rights Reserved</p>
            <div class="row">
                <div class="col-md-5 privacy text-right">
                    <div class="privacy-terms">
                        <a href="privacy-policy.html">Privacy Policy</a>
                    </div>
                </div>

                <div class="col-md-2 terms text-center">
                    <a> | </a>
                </div>

                <div class="col-md-5 terms text-left">
                    <div class="privacy-terms">
                        <a href="terms-of-use.html">Terms of Use</a>
                    </div>
                    <div class="next-one">
                        <a href="terms-of-use.html">Some Other Value</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>