/*----------- Navbar--------------*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 125;
    width: auto;
    padding-left: 5px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #4682B4!important;
}

.navbar {
    background: #555!important;
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: #ffffff!important;
    font-weight: 600;
    font-size: 14px;
}


/*----------- Footer--------------*/

#footer {
    background: #333;
    color: #fff;
    padding: 12px;
}

.privacy-terms {
    font-size: 12px;
}

.privacy-terms:hover {
    text-decoration: underline;
}

/*---------- Reviews -------------*/
.review-stars ul {
  display: inline-block;
  list-style: none;
}

.review-stars ul li {
  float: left;
  margin-right: 5px;
}

.review-stars ul li i {
  color: #E4B248;
  font-size: 12px;
}
/*color: #E4B248;*/
.review-stars ul li i.inactive {
  color: #c6c6c6;
}
.star:after {
  content: "\2605";
}